*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #333;
}

.container {
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  color: white;
}

.title {
  margin: 20px;
}

.subtext {
  color: #ccc;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.board {
  --tile-size: 60px;
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size), var(--tile-size));
  grid-template-rows: repeat(var(--size), var(--tile-size));
  background-color: #777;
  margin-bottom: 10rem;
}

.board > div {
  font-size: calc(var(--tile-size) / 1.5);
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
}

.board > [data-status='hidden'] {
  background-color: #bbb;
  cursor: pointer;
}

.board > [data-status='mine'] {
  background-color: red;
}

.board > [data-status='number'] {
  background-color: none;
}

.board > [data-status='marked'] {
  background-color: yellow !important;
}

.board > [data-status='hidden']:nth-child(odd) {
  background-color: hsl(var(--theme), 50%, 15%);
}

.board > [data-status='hidden']:nth-child(even) {
  background-color: hsl(var(--theme), 50%, 20%);
}

.board > :not([data-status='hidden']):nth-child(odd) {
  background-color: hsl(calc(var(--theme) + 100), 50%, 80%);
}
.board > :not([data-status='hidden']):nth-child(even) {
  background-color: hsl(calc(var(--theme) + 100), 50%, 75%);
}

.board > [data-status='mine'] {
  background-color: hsl(var(--bg-mine), 100%, 40%) !important;
  display: grid;
  place-content: center;
}

[data-status='mine'] > div {
  background-color: hsl(var(--bg-mine), 80%, 25%) !important;
  width: 0.65em;
  height: 0.65em;
  border-radius: 100%;
}

.count-1 {
  color: #1976d2;
}

.count-2 {
  color: #388e3c;
}

.count-3 {
  color: #d32f2f;
}

.count-4 {
  color: #7b1fa2;
}

.count-5 {
  color: #dd1490;
}

.count-6 {
  color: #ab1aff;
}

.count-7 {
  color: #ecff19;
}

.count-8 {
  color: #ff901a;
}

[data-status='number'].border-left {
  border-left: 0.15em solid grey;
}

[data-status='number'].border-top {
  border-top: 0.15em solid grey;
}

[data-status='number'].border-right {
  border-right: 0.15em solid grey;
}

[data-status='number'].border-bottom {
  border-bottom: 0.15em solid grey;
}

.input-group {
  font-size: 1.3rem;
}

.button {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.3em 0.7em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.button-container {
  margin: 0;
  display: flex;
}

.space-children > * + * {
  margin-top: 1rem;
}

.error-message {
  display: none;
  color: red;
  font-size: 1.2rem;
}

.error-message.show {
  display: block;
}
